.DS_Store
node_modules
.tmp
npm-debug.log
bin/
obj/
/.vs/DotNet Practice.slnx/FileContentIndex/19b1a604-8333-4235-b67d-dfa0651ec03c.vsidx
/DotNet Practice.csproj
/.vs/DotNet Practice.slnx/copilot-chat/e2f51343/sessions/aa9e625d-1481-41ca-aa1b-c04562f63452
/.vs/DotNet Practice.slnx/FileContentIndex/7a861845-033c-4545-ad68-c84dd9cd6fc7.vsidx
/.vs/DotNet Practice.slnx/FileContentIndex/0cd783a3-147c-4026-a7b4-ae732772915f.vsidx
/.vs/DotNet Practice.slnx/FileContentIndex/56f8ce21-7147-4fda-bd68-346fe0bf0116.vsidx
/.vs/DotNet Practice.slnx/v18/.suo
/.vs/DotNet Practice.slnx/FileContentIndex/cc6229f8-47af-49d6-81ff-1376ea9e51f8.vsidx
/.vs/DotNet Practice.slnx/FileContentIndex/131eb7d9-fe20-40aa-a5f4-2ee36c2a2f93.vsidx
/.vs/DotNet Practice.slnx/FileContentIndex/201d2467-0ad9-416f-ab37-f012cb29daa3.vsidx
/.vs/DotNet Practice.slnx/FileContentIndex/7d8af2ae-9248-4461-8ff5-6f4ac2f6dbc4.vsidx
/DotNet Practice.slnx
/DotNet Practice.csproj.user
/.vs/slnx.sqlite
/.vs/DotNet Practice/CopilotIndices/18.0.988.22099/SemanticSymbols.db
/.vs/DotNet Practice/CopilotIndices/18.0.988.22099/CodeChunks.db
/.vs/DotNet Practice.slnx/v18/DocumentLayout.json
/.vs/DotNet Practice.slnx/v18/DocumentLayout.backup.json
/.vs/slnx.sqlite-journal
/.vs/DotNet Practice.slnx/v18/.wsuo
/.vs/DotNet Practice.slnx/FileContentIndex/f5e6820a-e8e4-4472-a4cf-8b009882530e.vsidx
